
.graphs-tiles-item {
    padding: 15px;
    flex: 0 50%;
    text-align: center;
    margin: 5px 0;
    cursor: pointer;
}

.graphs-tiles-item--selected {
    background-color: #00bcd4 !important;
    color: #fff !important;
}


@media (min-width: 1200px) {
    .graphs-page {
        display: flex;
    }
    .graphs-page > div:first-child {
        flex:1;
    }
    .graphs-page > div:last-child {
        flex:3;
    }
    .graphs-tiles-item {
        margin: 0 0 0 -5px !important;
    }
}
