.register {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

@media(max-width: 760px) {
    .register {
        align-items: flex-start;
    }
    .register > div {
        max-width: 100vw !important;
    }
    .register > div > div {
        height: calc(100vh - 64px) !important;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

}
