.register {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@media(max-width: 760px) {
    .register {
        position: relative;
        align-items: flex-start;
        transform: none;
        left: 0;
        top: 0;
        margin: auto;
    }
    .register > div {
        max-width: 100vw !important;
    }
    .register > div > div:first-child {
        height: calc(100vh - 64px) !important;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

}
