@media(max-width: 1075px) {
    .toolbar {
        flex-direction: column;
        height: 112px !important;
    }
}

.toolbar-group--bottom {
    justify-content: space-between !important;
}

@media(max-width: 650px) {
    .toolbar-group--bottom {
        align-items: flex-start !important;
        flex-direction: column-reverse !important;
    }
    .toolbar {
        height: 180px !important;
        padding: 0 0 0 12px !important;
    }
}

.toolbar {
    display: block !important;
}
