.toolbar {
    flex-direction: column;
}

.toolbar-group--bottom {
    justify-content: space-between !important;
}

@media(max-width: 650px) {
    .toolbar-group--bottom {
        align-items: flex-start !important;
        flex-direction: column-reverse !important;
    }
    .toolbar-group--bottom > * {
        width: 100%;
        display: flex;
    }
    .toolbar {
        height: auto !important;
        padding: 0 0 0 12px !important;
    }
    .pagination {
        justify-content: center;
        width: 100%;
    }
}

.toolbar {
    display: block !important;
}
