.device div div div {
    padding: 0 !important;
}

.device-meta {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.device-meta-item {
    display: flex;
    flex: 0 1 50%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 15px;
}

.device-meta-item-header {
    margin: 0 0 5px;
    font-weight: 300;
    font-size: 14px;
}

.device-meta-item-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

.device-meta svg {
    padding-right: 8px;
}

.device-label {
    color: #aaa;
    font-weight: 300;
}

.device-footer {
    display: flex !important;
    justify-content: space-around !important;
}

.device-date {
    font-size: 20px;
    margin: 0;
}

.devices {
    display: flex;
    flex-wrap: wrap;
}

.device {
    flex: 0 50%;
    box-sizing: border-box;
    position: relative;
    margin: 5px 0 5px;
}

.device-more-icon {
    position: absolute !important;
    right: 5px;
    top: 5px;
}

@media (max-width: 640px) {
    .device {
        flex: 0 100%;
    }
}

.tooltip-container span {
    padding: 5px !important;
}
