.device div div div {
    padding: 0 !important;
}

.device-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.device-row-item {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.device-row-item-header {
    margin: 0 0 5px;
    font-weight: 300;
    font-size: 12px;
}

.device-row-item svg {
    padding-right: 8px;
}

.device-row+.device-row {
    margin-bottom: 10px;
}

.flex1 {
    flex: 1;
}

.device-label {
    color: rgba(190, 120, 120, 0.26);
}

.device-footer {
    display: flex !important;
    justify-content: space-around !important;
}

.device-date {
    font-size: 20px;
    margin: 0;
}

.devices {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}

.device {
    flex: 0 50%;
    box-sizing: border-box;
    position: relative;
}

.device-more-icon {
    position: absolute !important;
    right: 5px;
    top: 5px;
}

@media (max-width: 640px) {
    .device {
        flex: 0 100%;
    }
}

.tooltip-container span {
    padding: 5px !important;
}
