.devices-title span {
    font-size: 18px !important;
}

@media (min-width: 1200px) {
    .devices-page > div {
        width: 50%;
        display: inline-block;
        vertical-align: top;
    }
    .devices-page > div:first-child {
        margin-right: 10px !important;
        box-sizing: border-box !important;
        width: calc(50% - 10px);
    }
}
