.row {
    display: flex;
    margin: 10px 0 0;
}

.row-margins {
    margin: 10px 10px 0;
}

.row > * {
    flex: 1;
    margin: 10px;
}

.row > *:last-child {
}

a:-webkit-any-link {
    text-decoration: none;
}

.desk {
    background: #B2EBF2;
    min-height: 100vh;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input:-webkit-autofill {
    background-color: #fff !important;
}
