.row {
    display: flex;
    margin: 10px 0 0;
}

@media(max-width: 750px) {
    .row {
        display: block;
    }
}

.row-margins {
    margin: 10px 10px 0;
}

.row > * {
    flex: 1;
    margin: 10px;
}

.row > *:last-child {
}

a:-webkit-any-link {
    text-decoration: none;
    color: #fff !important;
}

.desk {
    background: #f2f5f7;
    min-height: 100vh;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;
}
