.row {
    display: flex;
    margin: 10px 0 0;
}

@media(max-width: 750px) {
    .row {
        display: block;
    }
}

.row-margins {
    margin: 10px 10px 0;
}

.row > * {
    flex: 1;
    margin: 10px;
}

a:-webkit-any-link {
    text-decoration: none;
    color: #fff !important;
}

html {
    background: #f2f5f7;
}

.desk {
    min-height: calc(100vh - 70px);
    position: relative;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 310px white inset;
}

* {
    font-family: Roboto, sans-serif;
}

input:required {
    box-shadow:none;
}

a {
    text-decoration: none !important;
}

.page-content {
    position: relative;
}

.spinner-absolute {
    position: absolute !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(242, 245, 247, 0.53);
    box-shadow: 0 0 12110px 121110px rgba(242, 245, 247, 0.53);
}

.page-content > div {
    margin-bottom: 65px !important;
}
